* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #0D3014;
  text-align: center;
}

header {
  background-color: #00251C;
  padding: 20px;
  margin: 0;
  overflow-x: hidden;
}

section {
  margin: 0 auto;
}

footer {
  background-color: #00251C;
    font-family: 'Bungee Shade';
  color: #00C01A;
  margin: 0;
  padding: 20px;
}

h1, td {
    font-family: 'Bungee Shade'; color: #00C01A;
    /* font-family: 'Creepster', cursive; */
    font-size: 75px;
    margin: 0 auto;
}

table {
  border: 1;
  border-width: 20px;
  border-color: #00C01A;

  /* border-collapse: collapse; */
  margin: 30px auto;
  
}

td {
  height: 150px;
  width: 150px;
}

button {
  margin: 20px 0;
  padding: 15px;
  border-radius: 100px;
  
}